@font-face {
  font-family: "Aktiv Grotesk";
  src: url("../../../assets/fonts/AktivGroteskVF_W_Wght.woff2")
      format("woff2 supports variations"),
    url("../../../assets/fonts/AktivGroteskVF_W_Wght.woff2")
      format("woff2-variations");

  font-weight: 100 900;
}
